@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

form {
    margin: 10px;
    text-align: center;
}

table {
    background-color: aliceblue;
    border-collapse: collapse;
    border: 1px solid;
    width: 600px;
    margin: auto;
}

th, td {
    border: 1px solid black;
}